USE [AdventureWorks2025]
GO
/****** Object:  Trigger [dbo].[EmployeeInsert]    Script Date: 2026/05/12 12:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER TRIGGER [dbo].[EmployeeInsert]
   ON  [dbo].[Employee] 
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	Insert into EmployeeTriggerHistory values ((select max(1) EmpID from employee), 'Insert')

END
